$color-sunrise: #FFCFA1;
$color-sunrise-dark: #263836;
$color-midday: #21E7D6;
$color-midday-dark: #231E1E;
$color-sunset: #D36A6A;
$color-sunset-dark: #2B2020; 

/***************
Global
***************/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.01rem;
}

/***************
Screen 1
***************/
.screen-1 {
}

/***************
Screen 2
***************/
.screen-2 {
}

/***************
Screen 3
***************/
.screen-3 {
}